body {
    background: white;
    
  }
  p {
    color: black;
  }
  
  h1 {
    font-weight: bold;
  }
  h3{
    text-transform: uppercase;
    background-color: pink;
  }
  h4{
    text-transform: uppercase;
    color: rgb(9, 72, 97);
    font-family: cursive;
    background-color: lightblue;
  }
  
  .image_from{
    font-size: 85%;
    color: rgb(9, 72, 97);
    font-family: monospace;
    letter-spacing: -0.1px;
  }
  .header{
    display: grid;
    column-gap: 50px;
    row-gap: 50px;    
    
  }
  .content{
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    
  }